<?xml version='1.0' encoding='utf-8'?>
<widget id="pl.edu.zut.wi.sj55694" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Jakub 55694</name>
    <description>Weather App</description>
    <author email="sj55694@zut.edu.pl" href="https://www.wi.zut.edu.pl">
        Jakub Sibora
    </author>
    <content src="weather.html" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
</widget>