body {
  background-color: #f3fff3;
  font-size: 1.5em;
}
.todo{
  padding-top: 10%;
  text-align: justify;
  padding-bottom: 10%;
margin: 1%;
  border: 10px solid black;
border-radius: 30%;
  background-color: lightsalmon;

}


.input, .search{
text-align: center;
}
h1{
  text-align:center ;
}

img{
  width: 30px;
}
ol{
  text-align: justify;
}
















